#control {
  position: relative;
}
@media print {
  #control {
    display: none;
  }
}
#control .editor {
  box-sizing: border-box;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 640px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  right: -640px;
  transition: right 0.3s 0.2s;
  z-index: 1;
}
#control .editor.active {
  right: 0;
}
#control .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#control .float-buttons {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
#control .float-buttons .float-button {
  display: block;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  border-radius: 50%;
  color: white;
  background-color: black;
}
@media screen {
  #today,
  #basics,
  #contact,
  #promotions,
  #license,
  #education,
  #work {
    cursor: pointer;
  }
  #today:hover,
  #basics:hover,
  #contact:hover,
  #promotions:hover,
  #license:hover,
  #education:hover,
  #work:hover {
    background-color: honeydew;
  }
}
.flood {
  background-color: pink;
}
